.about-us__list {
  display: grid;
  grid-template-columns: 150px auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-us__item {
  margin-right: 24px;
}

.about-us__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: $secondary-black;

  &:hover {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: 2px solid $secondary-black;
  }

  &--current {
    position: relative;
    font-weight: 700;

    &::before {
      position: absolute;
      top: 0;
      left: -25px;
      width: 16px;
      height: 16px;
      background-image: url("../../images/heart.svg");
      background-repeat: no-repeat;
      content: "";
    }
  }
}
