@use "global/variables";

.body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: variables.$primaryDarkColor;
  background-color: variables.$secondaryLightColor;
}

.body__header {
  width: variables.$pageWide;
  margin: 0 auto;
}

.body__main {
  flex-grow: 1;
  width: variables.$pageWide;
  margin: 0 auto;
}

.body__footer {
  width: variables.$pageWide;
  margin: 0 auto;
}

.body-theme {
  &--theme-1 {
    background-color: variables.$background_1;
  }

  &--theme-2 {
    background-color: variables.$background_2;
  }

  &--theme-3 {
    background-color: variables.$background_3;
  }
}
