@use "global/variables";

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs__item {
  position: relative;

  &:not(:last-child)::after {
    position: absolute;
    top: 50%;
    right: -35%;
    width: 12px;
    height: 12px;
    background-image: url("../../images/breadcrumbs-icon.svg");
    background-repeat: no-repeat;
    transform: translateY(-50%);
    content: "";
  }
}

.breadcrumbs__link {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: variables.$primaryDarkColor;
  border-radius: 30px;

  &:not(.breadcrumbs__link--current):hover {
    color: variables.$primaryLightColor;
  }

  &:active {
    color: rgba(variables.$primaryLightColor, 0.5);
  }

  &:focus-visible {
    outline: 2px solid variables.$primaryDarkColor;
    outline-offset: 2px;
  }

  &--current {
    border-bottom: 1px solid variables.$primaryDarkColor;
    border-radius: 0;
  }
}
