@use "global/variables";

.button {
  display: inline-block;
  padding: 12px 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: variables.$primaryLightColor;
  border: none;
  border-radius: 26px;
  outline: 4px solid rgba(variables.$primaryLightColor, 0.4);
  outline-offset: 0;
  box-shadow: 0 4px 12px rgba(variables.$primaryShadow, 0.1);
  transition: all ease-out 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgba(variables.$primaryLightColor, 0.4);
    outline: 4px solid variables.$primaryLightColor;
    box-shadow: 0 4px 15px rgba(variables.$secondaryShadow, 0.15);
  }

  &:focus-visible {
    background-color: rgba(variables.$primaryLightColor, 0.5);
    outline: 2px solid variables.$primaryDarkColor;
    box-shadow: 0 4px 12px rgba(variables.$primaryShadow, 0.1);
  }

  &:active {
    background-color: variables.$primaryLightColor;
    outline: 2px solid variables.$primaryDarkColor;
  }

  &:disabled {
    color: variables.$border;
    background-color: variables.$dividingLine;
    outline: 4px solid rgba(variables.$primaryLightColor, 0.4);
  }

  &--bright {
    color: variables.$primaryLightColor;
    background-color: variables.$extraBright;
    outline: 4px solid rgba(variables.$extraBright, 0.3);

    &:hover {
      color: variables.$primaryDarkColor;
      background-color: rgba(variables.$primaryLightColor, 0.3);
      outline: 4px solid variables.$extraBright;
    }

    &:focus-visible {
      color: variables.$primaryLightColor;
      background-color: variables.$extraBright;
      outline: 2px solid variables.$primaryDarkColor;
    }

    &:active {
      background-color: variables.$background_1;
    }

    &:disabled {
      color: variables.$secondaryDarkColor;
      background-color: variables.$border;
      outline: 4px solid rgba(variables.$border, 0.3);
    }
  }

  &--loading {
    position: relative;
    padding-right: 56px;

    &::after {
      position: absolute;
      top: 35%;
      right: 20%;
      width: 16px;
      height: 16px;
      border: 2px solid rgba(variables.$tertiaryDarkColor, 0.24);
      border-bottom-color: variables.$tertiaryDarkColor;
      border-radius: 50%;
      animation: rotation 1s linear infinite;
      content: "";
    }
  }

  &--bright--loading {
    position: relative;
    padding-right: 56px;

    &::after {
      position: absolute;
      top: 35%;
      right: 20%;
      width: 16px;
      height: 16px;
      border: 2px solid rgba(variables.$primaryLightColor, 0.25);
      border-bottom-color: variables.$primaryLightColor;
      border-radius: 50%;
      animation: rotation 1s linear infinite;
      content: "";
    }
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
