@use "global/variables";

.control {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.control__icon {
  margin-right: 8px;

  &:hover .control__icon-path {
    fill: variables.$primaryLightColor;
  }

  &:active .control__icon-path {
    fill-opacity: 0.3;
  }

  &--checked {
    display: none;
  }
}

.control__checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.5px solid variables.$primaryDarkColor;
  border-radius: 2px;
}

.control__input {
  &:hover + .control__checkbox {
    border-color: variables.$primaryLightColor;
    transition: all ease-out 0.2s;
  }

  &--radio:checked:hover + .control__checkbox::after {
    background-color: variables.$primaryLightColor;
    transition: all ease-out 0.2s;
  }

  &:focus-visible + .control__icon,
  &:focus-visible ~ .control__icon--checked,
  &:focus-visible + .control__checkbox {
    outline: 2px solid variables.$primaryDarkColor;
    outline-offset: 1px;
  }

  &:disabled + .control__checkbox {
    opacity: 0.5;
  }
}

.control__input--radio:checked + .control__checkbox::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  background-color: variables.$primaryDarkColor;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  content: "";
}

.control__input--checkbox:checked + .control__icon {
  display: none;
}

.control__input--checkbox:checked ~ .control__icon--checked {
  display: block;
}

.control__input--radio + .control__checkbox {
  border-radius: 50%;
}

.control__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
