@use "global/variables";

.copyright {
  display: flex;
  flex-direction: column;
  width: 207px;
}

.copyright__link {
  display: flex;
  width: 93px;
  margin-bottom: 14px;
  text-decoration: none;
}

.copyright__link,
.copyright__text-link {
  color: variables.$primaryDarkColor;
  text-underline-offset: 3px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    opacity: 0.3;
  }
}

.copyright__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
