.copyright {
  display: flex;
  flex-direction: column;
  width: 207px;
}

.copyright__icon {
  margin-bottom: 14px;
}

.copyright__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
