@use "global/variables";

.copyright {
  display: flex;
  flex-direction: column;
  width: 207px;
}

.copyright__icon {
  color: variables.$primaryDarkColor;
}

.copyright__link {
  display: flex;
  width: 93px;
  margin-bottom: 14px;
  text-decoration: none;
}

.copyright__link,
.copyright__text-link {
  color: variables.$primaryDarkColor;
  text-underline-offset: 3px;

  &:hover {
    color: variables.$primaryLightColor;
  }

  &:hover .copyright__icon {
    color: variables.$primaryLightColor;
  }

  &:active {
    color: rgba(variables.$primaryLightColor, 0.5);
  }

  &:active .copyright__icon {
    color: rgba(variables.$primaryLightColor, 0.5);
  }

  &:focus-visible {
    border-radius: 30px;
    outline: 2px solid variables.$primaryDarkColor;
    outline-offset: 2px;
  }
}

.copyright__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
