@use "global/variables";

.customers-list {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.customers-list__item {
  margin-right: 24px;
}

.customers-list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: variables.$primaryDarkColor;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    opacity: 0.3;
  }

  &--suppliers {
    position: relative;
    font-weight: 700;

    &::before {
      position: absolute;
      top: 0;
      left: -25px;
      width: 16px;
      height: 16px;
      background-image: url("../../images/heart.svg");
      background-repeat: no-repeat;
      content: "";
    }
  }
}
