@use "global/variables";

.dropdown {
  position: relative;

  &:hover &__list {
    display: block;
  }

  &:focus-within &__list {
    display: block;
  }
}

.dropdown__button {
  display: block;
  padding: 8px 38px 8px 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: variables.$primaryDarkColor;
  border: none;
  background-color: transparent;

  &:hover {
    background-color: rgba(variables.$primaryLightColor, 0.5);
    border-radius: 30px;
  }

  &:hover .dropdown__button-icon {
    transform: rotate(-180deg);
  }

  &:active {
    background-color: variables.$primaryLightColor;
    border-radius: 30px;
  }

  &:focus-visible {
    background: rgba(variables.$primaryLightColor, 0.5);
    border-radius: 30px;
    outline: 2px solid variables.$primaryDarkColor;
  }

  &--current {
    color: variables.$primaryLightColor;
    background-color: variables.$bright;
    border-radius: 30px;

    &:hover {
      background-color: rgba(variables.$bright, 0.6);
    }

    &:hover .dropdown__button-icon {
      transform: rotate(-180deg);
    }

    &:hover .dropdown__button-icon-path {
      fill: variables.$primaryLightColor;
    }

    &:active {
      background-color: rgba(variables.$bright, 0.3);
    }

    &:focus-visible {
      background-color: variables.$bright;
      outline: 2px solid variables.$primaryDarkColor;
    }
  }
}

.dropdown__button-icon {
  position: absolute;
  top: 15px;
  right: 17px;
}

.dropdown__list {
  position: absolute;
  top: 44px;
  left: 0;
  margin: 0;
}
