@use "global/variables";

.feedback {
  width: 570px;
  margin: auto;
  padding: 64px 64px 66px 64px;
  background-color: variables.$primaryLightColor;
  border-radius: 8px;
  box-shadow: 0 15px 40px rgba(variables.$primaryDarkColor, 0.12);
}

.feedback__close-button {
  display: block;
  border: none;
  width: 20px;
  height: 20px;
  margin-left: auto;
  background-color: transparent;
  background-image: url("../../images/close.svg");
  background-repeat: no-repeat;
  background-position: (50%, 50%);
  cursor: pointer;
}

.feedback__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__form-label {
  display: inline-block;
  margin-bottom: 16px;
  width: 442px;

  &--message {
    margin-bottom: 32px;
  }
}

.feedback__form-button {
  margin-left: auto;
}
