.feedback-form {
  display: flex;
}

.feedback-form__label {
  display: inline-block;
  margin-bottom: 16px;
  width: 442px;

  &--message {
    margin-bottom: 32px;
  }
}

.feedback-form__button {
  margin-left: auto;
}
