@use "global/variables";

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filter-form__filter-group {
  margin-right: 24px;
  margin-bottom: 16px;

  &--checkbox .filter-group__list {
    padding: 10px 24px;
  }
}

.filter-form__button {
  margin-top: 11px;
  padding: 8px 52px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  background-color: rgba(variables.$primaryLightColor, 0.3);
  border: none;
  border-radius: 20px;
  outline: 2px solid variables.$primaryLightColor;
  transition: background-color ease-in 0.3s;
  cursor: pointer;

  &:hover {
    background-color: variables.$primaryLightColor;
    outline: 2px solid rgba(variables.$primaryLightColor, 0.3);
  }

  &:focus-visible {
    background-color: rgba(variables.$primaryLightColor, 0.3);
    outline: 2px solid variables.$primaryDarkColor;
  }

  &:active {
    background-color: rgba(variables.$primaryLightColor, 0.5);
    outline: none;
  }

  &:disabled {
    opacity: 0.4;
  }
}
