@use "global/variables";

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 48px 0 48px 2px;

  &--top-line {
    border-top: 1px solid rgba(variables.$primaryLightColor, 0.3);
  }
}

.footer__social {
  margin-top: -2px;
  margin-right: auto;
}

.footer__customers {
  margin-right: 15.4%;
}
