@use "global/variables";

.form-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-login__label {
  width: 324px;
  margin-bottom: 16px;

  &--password {
    margin-bottom: 32px;
  }
}

.form-login__button {
  margin-right: 21px;
}

.form-login__link {
  display: flex;
  margin-bottom: 4px;
  color: variables.$primaryDarkColor;
  text-underline-offset: 4px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    opacity: 0.3;
  }
}
