@use "global/variables";

.form-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-search__label {
  position: relative;
  display: inline-block;
  width: 324px;
}

.form-search__field {
  padding-right: 48px;
}

.form-search__field:placeholder-shown + .form-search__button {
  display: none;
}

.form-search__button {
  position: absolute;
  top: 50%;
  right: 10%;
  padding: 0;
}
