@use "global/variables";

.form-login__label {
  width: 324px;
  margin-bottom: 16px;

  &--password {
    margin-bottom: 32px;
  }
}

.form-login__button {
  margin-right: 21px;
}

.form-login__link {
  display: flex;
  margin-bottom: 4px;
  color: variables.$primaryDarkColor;
  text-underline-offset: 4px;
}
