@use "global/variables";

.form-login__label {
  margin-bottom: 16px;

  &--password {
    margin-bottom: 32px;
  }
}

.form-login__button {
  min-width: 113px;
  margin-right: 21px;
  color: variables.$primaryLightColor;
  background-color: variables.$extraBright;
  border: 4px solid rgba(variables.$extraBright, 0.3);
}

.form-login__link {
  display: flex;
  margin-bottom: 4px;
  color: variables.$primaryDarkColor;
  text-underline-offset: 4px;
}
