@use "global/variables";

.header-popover {
  display: none;
  flex-wrap: wrap;
  padding: 48px;
  background-color: variables.$primaryLightColor;
  border-radius: 4px;
  z-index: 2;

  &:hover {
    display: block;
  }

  &--search {
    padding: 24px 16px;
  }

  &--login {
    padding-bottom: 52px;
  }

  &--basket {
    padding: 48px 0;
  }

  &--basket &__basket-text {
    display: block;
  }

  &--basket &__popover-wrapper {
    display: none;
  }
}

.header-popover__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-popover__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.header-popover__basket-text {
  display: none;
  width: 288px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.header-popover__popover-wrapper {
  display: block;
}

.header-popover__button {
  display: inline-block;
  margin-right: 19px;
  text-decoration: none;
  color: variables.$primaryLightColor;
  background-color: variables.$extraBright;
  border: 4px solid rgba(variables.$extraBright, 0.3);
}

.header-popover__total {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
