@use "global/variables";

.main-index {
  flex-grow: 1;
}

.main-index__slider {
  margin-bottom: 80px;
}

.main-index__promotions {
  margin-bottom: 81px;
}

.main-index__popular-products {
  margin-bottom: 80px;
}

.main-index__about-us {
  margin-bottom: 80px;
}

.main-index__column-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.main-index__delivery {
  margin-bottom: 80px;
}
