.our-block {
  width: 570px;
  height: 224px;
  background: repeating-linear-gradient(-45deg, #edf0f5 22px, #68a8ff 22px, #68a8ff 33px, #edf0f5 33px, #edf0f5 55px, #ff2e65 55px, #ff2e65 66px, #edf0f5 66px, #edf0f5 88px, #68a8ff 88px);
  border-radius: 16px;
}
