@use "global/variables";

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  color: variables.$primaryDarkColor;
  background-color: variables.$secondaryLightColor;

  &--theme-1 {
    background-color: variables.$background_1;
  }

  &--theme-2 {
    background-color: variables.$background_2;
  }

  &--theme-3 {
    background-color: variables.$background_3;
  }
}

.page-body__header-inner {
  margin-bottom: 30px;
}

.page-body__main-inner {
  margin-bottom: 40px;
}
