@use "global/variables";

.popover {
  display: none;
  padding: 48px;
  background-color: variables.$primaryLightColor;
  border-radius: 4px;
  z-index: 3;

  &--show {
    display: block;
  }

  &--search {
    padding: 24px 16px;
  }

  &--login {
    padding-bottom: 52px;
  }

  &--basket--empty {
    padding: 48px 0;
  }
}

.popover__form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.popover__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.popover__basket-text {
  display: block;
  width: 288px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  &--hide-text {
    display: none;
  }

  &--hide-text + .popover__popover-wrapper {
    display: block;
  }
}

.popover__popover-wrapper {
  display: none;
}

.popover__button {
  display: inline-block;
  margin-right: 19px;
  text-decoration: none;
  color: variables.$primaryLightColor;
}

.popover__total {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
