@use "global/variables";

.popover {
  display: none;
  padding: 48px;
  background-color: variables.$primaryLightColor;
  border-radius: 4px;
  z-index: 3;

  &--show {
    display: block;
  }

  &--search {
    padding: 24px 16px;
  }

  &--login {
    padding-bottom: 52px;
  }

  &--basket--empty {
    padding: 48px 0;
  }
}

.popover__title {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.popover__text {
  display: none;
  width: 288px;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;

  &--show {
    display: block;
  }

  &--show + .popover__wrapper {
    display: none;
  }
}

.popover__wrapper {
  display: block;
}

.popover__list {
  margin: 0;
  margin-bottom: 64px;
}

.popover__button {
  display: inline-block;
  margin-right: 19px;
  text-decoration: none;
  color: variables.$primaryLightColor;
}

.popover__total {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
