@use "global/variables";

.site-list__item--logo {
  margin-right: 16px;
}

.site-list__link {
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: variables.$primary-dark-color;

  &:hover {
    color: variables.$primary-light-color;
    background-color: variables.$bright;
    border-radius: 30px;
  }
}
