@use "global/variables";

.slider__content {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 21px 0 26px 0;
}

.slider__button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 44%;
  left: 73%;
  width: 38px;
  height: 38px;
  padding: 0;
  background-color: rgba(variables.$primaryLightColor, 0.3);
  border: 2px solid variables.$primaryLightColor;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;

  &:hover {
    background-color: variables.$primaryLightColor;
  }

  &:hover .slider__button-icon-path {
    fill: variables.$primaryDarkColor;
  }

  &:active {
    background-color: rgba(variables.$primaryLightColor, 0.5);
    border: none;
  }

  &:active .slider__button-icon-path {
    fill: variables.$primaryDarkColor;
  }


  &:focus-visible {
    background-color: rgba(variables.$primaryLightColor, 0.3);
    border: none;
    outline: 2px solid variables.$primaryDarkColor;
  }

  &:focus-visible .slider__button-icon-path {
    fill: variables.$primaryDarkColor;
  }

  &:disabled {
    opacity: 0.4;
  }

  &--prev {
    left: 45.5%;
    transform: rotate(180deg) translateX(-10%);
  }
}

.slider__row-wrapper {
  display: flex;
  justify-content: space-between;
}
