@use "global/variables";

.slier-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slier-pagination__item:not(:last-child) {
  padding-right: 8px;
}

.slier-pagination__button {
  width: 12px;
  height: 12px;
  background-color: variables.$primaryLightColor;
  border: none;
  border-radius: 50%;
  opacity: 0.3;
  cursor: pointer;

  &:hover {
    background: rgba(variables.$primaryLightColor, 0.3);
    outline: 1px solid variables.$primaryLightColor;
  }

  &:active {
    opacity: 0.5;
  }

  &:focus-visible {
    background: rgba(variables.$primaryLightColor, 0.3);
    outline: 1px solid variables.$primaryDarkColor;
  }

  &--current {
    opacity: 1;
  }
}
