@use "global/variables";

.slier-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slier-pagination__item:not(:last-child) {
  padding-right: 8px;
}

.slier-pagination__button {
  display: flex;
  width: 12px;
  height: 12px;
  padding: 0;
  background-color: rgba(variables.$primaryLightColor, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:not(&--active):hover {
    background: rgba(variables.$primaryLightColor, 0.3);
    border: 1px solid variables.$primaryLightColor;
  }

  &:not(&--active):active {
    background-color: rgba(variables.$primaryLightColor, 0.5);
  }

  &:focus {
    outline: none;
  }

  &:not(&--active):focus-visible {
    background: rgba(variables.$primaryLightColor, 0.3);
    border: 1px solid variables.$primaryDarkColor;
  }

  &--active {
    background-color: variables.$primaryLightColor;
  }
}
