@use "global/variables";

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 24px);
  column-gap: 16px;
}

.social-list__link {
  display: inline-block;

  &:hover .social-list__icon-circle {
    fill: variables.$primary-dark-color;
  }

  &:hover .social-list__icon-rect {
    stroke-opacity: 0.5;
  }

  &:active .social-list__icon-circle {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible .social-list__icon-circle {
    fill: variables.$primary-dark-color;
    r: 13;
    stroke: variables.$primary-dark-color;
    stroke-width: 2;
  }

  &:focus-visible .social-list__icon-rect {
    stroke: variables.$primary-dark-color;
    stroke-opacity: 1;
  }
}
