@use "global/variables";

.social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 12px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-list__link {
  display: flex;

  &:hover .social-list__icon-circle {
    fill: variables.$primaryDarkColor;
    transition: all ease-out 0.4s;
  }

  &:hover .social-list__icon-rect {
    stroke-opacity: 0.5;
    transition: all ease-out 0.4s;
  }

  &:active .social-list__icon-circle {
    opacity: 0.5;
    transition: all ease-in 0.4s;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible .social-list__icon-circle {
    fill: variables.$primaryDarkColor;
    stroke: variables.$primaryDarkColor;
    stroke-width: 2;
    transition: all linear 0.3s;
  }

  &:focus-visible .social-list__icon-rect {
    stroke: variables.$primaryDarkColor;
    stroke-opacity: 1;
    transition: all linear 0.3s;
  }
}
