@use "global/variables";

.subscribe {
  width: 570px;
  padding: 6px;
  background: repeating-linear-gradient(-45deg, #edf0f5 12px, #68a8ff 12px, #68a8ff 18px, #edf0f5 18px, #edf0f5 30px, #ff2e65 30px, #ff2e65 36px, #edf0f5 36px, #edf0f5 48px, #68a8ff 48px);
  border-radius: 16px;
}

.subscribe__form-label {
  width: 332px;
}

.subscribe__container {
  height: 100%;
  padding: 26px;
  border-radius: 16px;
  background-color: variables.$secondaryLightColor;
}

.subscribe__description {
  margin: 0;
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: variables.$secondaryDarkColor;
}

.subscribe__form {
  display: flex;
  justify-content: space-between;
}

.subscribe__form-button {
  margin-right: 4px;
}
