@use "global/variables";

.subscribe {
  width: 570px;
  padding: 6px;
  background: repeating-linear-gradient(-45deg, #edf0f5 22px, #68a8ff 22px, #68a8ff 33px, #edf0f5 33px, #edf0f5 55px, #ff2e65 55px, #ff2e65 66px, #edf0f5 66px, #edf0f5 88px, #68a8ff 88px);
  border-radius: 16px;
}

.subscribe__form-label {
  width: 332px;
}

.subscribe__container {
  height: 100%;
  padding: 26px;
  border-radius: 16px;
  background-color: variables.$secondaryLightColor;
}

.subscribe__description {
  margin: 0;
  margin-bottom: 44px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: variables.$secondaryDarkColor;
}

.subscribe__form {
  display: flex;
  justify-content: space-between;
}

.subscribe__form-button {
  margin-right: 4px;
}
