@use "global/variables";

.tooltip {
  &:focus-within .tooltip__text {
    display: block;
  }

  &:focus-within .tooltip__icon {
    opacity: 0.5;
  }

  &:active .tooltip__icon {
    opacity: 0.5;
  }

  &:focus-within {
    outline: none;
  }
}

.tooltip__icon {
  display: flex;

  &:hover + .tooltip__text {
    display: block;
  }

  &:hover {
    opacity: 0.3;
  }
}

.tooltip__text {
  position: absolute;
  top: -12px;
  left: 27px;
  display: none;
  width: max-content;
  max-width: 163px;
  padding: 10px 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: variables.$secondaryDarkColor;
  background-color: variables.$secondaryLightColor;
  border: 1px solid variables.$border;
  box-shadow: 0 4px 8px rgba(variables.$tertiaryShadow, 0.2);

  &::before {
    position: absolute;
    top: 12px;
    left: -7px;
    width: 13px;
    height: 13px;
    background-color: variables.$secondaryLightColor;
    border-top: 1px solid variables.$border;
    border-left: 1px solid variables.$border;
    transform: rotate(-45deg);
    z-index: 1;
    content: "";
  }
}
