@use "global/variables";

.user-list__item {
  position: relative;
  margin-right: 16px;

  &:focus-within .header-popover {
    display: flex;
  }
}

.user-list__contact-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: variables.$primaryDarkColor;
}

.user-list__popover {
  position: absolute;
  top: 40px;
  right: 0;
}

.user-list__link {
  display: flex;
  padding: 6px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: variables.$primaryDarkColor;
  border-radius: 30px;
  background-color: variables.$extraLight;

  &:hover {
    color: variables.$primaryLightColor;
    background-color: variables.$bright;
  }

  &:hover .user-list__icon-path {
    fill: variables.$primaryLightColor;
  }

  &:hover + .header-popover {
    display: flex;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% + 8px);
    height: 40px;
    content: "";
  }

  &--search {
    padding: 8px;
    padding-right: 2px;
  }
}

.user-list__icon {
  margin-right: 6px;
}
