@use "global/variables";

.user-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-list__item {
  position: relative;
  margin-right: 16px;

  &:focus-within .popover {
    display: block;
  }

  &:last-child,
  &:first-child {
    margin-right: 0;
  }
}

.user-list__contact-phone {
  padding: 6px 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: variables.$primaryDarkColor;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    opacity: 0.3;
  }
}

.user-list__popover {
  position: absolute;
  top: 40px;
  right: 0;
}

.user-list__button {
  display: flex;
  align-items: center;
  padding: 6px 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: none;
  border-radius: 30px;
  background-color: rgba($color: variables.$primaryLightColor, $alpha: 0.3);

  &:hover {
    background-color: rgba($color: variables.$primaryLightColor, $alpha: 0.5);
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    padding: 4px 14px;
    background-color: rgba($color: variables.$primaryLightColor, $alpha: 0.5);
    border: 2px solid #000000;
  }

  &:active {
    background-color: variables.$primaryLightColor;
  }

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% + 8px);
    height: 40px;
    content: "";
  }

  &--current {
    color: variables.$primaryLightColor;
    background-color: variables.$bright;
  }

  &--current .user-list__icon-path {
    fill: variables.$primaryLightColor;
  }

  &--search {
    padding: 8px;

    &:focus-visible {
      padding: 6px;
    }
  }

  &--search .user-list__icon {
    margin: 0;
  }
}

.user-list__icon {
  margin-right: 6px;
}
