$primary-white: #ffffff;
$secondary-white: #fcfcfc;
$tertiary-white: #e5e5e5;
$primary-black: #000000;
$secondary-black: #2d3440;
$tertiary-black: #565c66;
$dividing-line: #e7e7e7;
$border: #b9b9b9;
$shadow: #2d3440;
$extra-bright: #ff2f64;
$extra-light: #ffcbd8;
$bright: #ff4a78;
$neutral: #ff7799;
$background-1: #feafc3;
$background-2: #69a9ff;
$background-3: #fcc850;
$error: #ea5454;
$warning: #fd912e;
$success: #00e484;
