// color

$primaryLightColor: #fcfcfc;
$secondaryLightColor: #ffffff;
$tertiaryLightColor: #e5e5e5;
$primaryDarkColor: #2d3440;
$secondaryDarkColor: #565c66;
$tertiaryDarkColor: #242424;
$dividingLine: #e7e7e7;
$border: #b9b9b9;
$primaryShadow: #2d3440;
$secondaryShadow: #858585;
$tertiaryShadow:#c2c2c2;
$extraBright: #ff2f64;
$extraLight: #ffcbd8;
$bright: #ff4a78;
$neutral: #ff7799;
$background_1: #feafc3;
$background_2: #69a9ff;
$background_3: #fcc850;
$error: #ea5454;
$warning: #fd912e;
$success: #00e484;
$disabledButton: #b9b9b9;


// size

$pageWide: 1366px;
$contentWide: 1170px;


// font

$fontFamily: "Inter";
$fontStyle: normal;
$fontWeightThin: 400;
$fontWeightMedium: 700;
$fontWeightBold: 900;
